.advantages {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: @color-main;
  color: @light-blue;

  &__inner {
    .container();
  }

  &__title {
    color: #fff;
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }
}
