.banner {
  padding-top: 130px;
  padding-bottom: 25px;
  background: #785f42 url('../img/banner-bg.jpg') top center no-repeat;
  background-size: cover;

  @media (min-width: @screen-sm) {
    padding-top: 150px;
  }

  @media (min-width: @screen-md) {
    padding-top: 180px;
    padding-bottom: 35px;
    background-attachment: fixed;
  }

  @media (min-width: @screen-lg) {
    padding-top: 300px;
    padding-bottom: 40px;
  }

  @media (min-width: @screen-xl) {
    padding-top: 400px;
  }

  &__inner {
    .container();
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-family: @font-family--titles;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;

    @media (min-width: @screen-sm) {
      width: 80%;
      margin-bottom: 35px;
      font-size: 26px;
    }

    @media (min-width: @screen-md) {
      margin-bottom: 45px;
      font-size: 36px;
    }

    @media (min-width: @screen-lg) {
      width: 75%;
      font-size: 46px;
    }

    @media (min-width: @screen-xl) {
      font-size: 60px;
    }
  }

  &__link {
    display: block;
    text-align: right;

    @media (min-width: @screen-xl) {
      position: relative;
      right: -20px;
    }
  }

  &__img {
    width: 100px;
    height: auto;

    @media (min-width: @screen-md) {
      width: 150px;
    }

    @media (min-width: @screen-lg) {
      width: 200px;
    }

    @media (min-width: @screen-xl) {
      width: 245px;
    }
  }
}
