.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  outline: none;
  border: none;

  &--submit {
    padding: 4px 10px;
    min-width: 150px;
    background-color: transparent;
    color: @light-green;
    border: 2px solid @light-green;
    transition: all 0.3s;

    &:hover,
    &:active {
      background-color: @light-green;
      color: #fff;
    }


    @media (min-width: @screen-lg) {
      font-size: 26px;
      min-width: 210px;
    }
  }
}
