.features-list {
  margin-top: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    line-height: 1.2;
    margin-bottom: 13px;
    min-height: 28px;

    @media (min-width: @screen-xl) {
      padding-left: 65px;
      margin-bottom: 18px;
      min-height: 42px;
    }

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50% );
      width: 28px;
      height: 28px;
      background: url('../img/tick.svg') center center no-repeat;
      background-size: contain;

      @media (min-width: @screen-xl) {
        width: 42px;
        height: 42px;
      }
    }
  }
}
